*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
    overflow-x: hidden;
    background-color: #FEFEFE;
    color: #222222;
    position: relative;
    color-scheme: dark light;
}

header, body{
    display: flex;
    height: fit-content;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.card_holder{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    scroll-snap-type: y mandatory;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 64px;
    color: #222222;
    padding: 0 10vw;
    position: fixed;
    z-index: 6;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    margin: 0;
}

#logo_holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    height: 64px;
}

#logo_holder a{
    font-size: 20px;
    font-weight: 500;
}

#logo_holder button{
    display: none;            
}

.nav_items button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 24px;
    height: 24px;
    background-image: url(Images/day.png);
    background-color: #FFFFFF;
    border: none;
    outline: none;  
}

.menu_container, .nav_items{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav_items{
    gap: 32px;
}

.social_links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    gap: 16px;
    padding: 16px;
    position:fixed;
    bottom: 0px;
    right: 16px;
    background-color: #FEFEFE;
    color: #222222;
}

.social_links2{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: fit-content;
    gap: 56px;
    z-index: 6;
}

.social_links a, .social_links2 a, .social_links img, .social_links2 img{
    display: flex;
    height: fit-content;
    width: fit-content;
    gap: 16px;
}

.social_links p{
    display: none;
}



.page_content{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    width: 100vw;
    height: fit-content;
    background: #FEFEFE;
    color: #222222;
    margin-top: 72px;
    z-index: 1;
    scroll-snap-type: y mandatory;
}

.hero, .section1, .section2, .section3{
    scroll-snap-align: start;
}

.hero{
    display: flex;
    justify-content: stretch;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 64px);
    padding: 0 10%;
    position: relative;
    overflow-y: hidden;
}

.hero_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 75%;
    max-height: 720px;
    max-width: 660px;
    background: #FEFEFE;
    z-index: 3;
}

.hero #hero_mock, .hero #hero_mock1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: fit-content;
    width: 60%;
    position: absolute;
    right: 0;
    top: 0;
}

#image_mock, #image_mock1{
    display: none;
}

#hero_mock section{
    width: 100%;
    height: calc(100vh - 64px);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#hero_mock1 section{
    width: 100%;
    height: calc(100vh - 64px);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

#hero_mock section:nth-of-type(1){
    background-image: url(Images/kipati/kipati_case_mock.png);
}

#hero_mock section:nth-of-type(2){
    background-image: url(Images/clothesxo/mock.png);
}

#hero_mock section:nth-of-type(3){
    background-image: url(Images/immers/immers_case_mock.png);
}

#hero_mock1 section:nth-of-type(1){
    background-image: url(Images/556A7070.jpg);
}

#hero_mock1 section:nth-of-type(2){
    background-image: url(Images/556A7079.jpg);
}

#hero_mock1 section:nth-of-type(3){
    background-image: url(Images/556A7084.jpg);
}



#case_titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    align-items: flex-start;
    text-align: left;
    padding: 104px 0 0 10vw;
    height: fit-content;
    max-width: 50vw;
}

#works{
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: fit-content;
    width: fit-content;
    padding: 48px 0 104px 0;
}

.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: fit-content;
    max-height: 900px;
    padding: 80px 10%;
    gap: 80px;
}

.section1_background{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 64px);
    background: linear-gradient(
        to top,
        #FFFFFF00 0%,
        #FFFFFF00 15%,
        #003e2a 15%,
        #003e2a 85%,
        #FFFFFF00 85%,
        #FFFFFF00 100%
    );
}

.section1_background img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    margin: 0;
}

.section1_background1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 64px);
    background-color:#003e2a;
}

.section1_background1 a, .section1_background a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.section1_background1 img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    margin: 0;
}

.reverse{
    flex-direction: row-reverse;
}

.section2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 64px);
    padding-left: 10%;
    gap: 80px;
    position: relative;
}

.section2_background{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #003e2a;
}

.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: fit-content;
    padding: 72px 0;
    position: relative;
    background-color: #003e2a;
    color: #FFFFFF;
}

.team_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
}

#teams{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    gap: 200px;
}

#teams img{
    height: 64px;
}

@keyframes slider3 {
    0%{transform: translateY(0);}
    100%{transform: translateY(calc(192px - 300vh));}
}

.slide3{
    animation: slider3 9s steps(3) infinite backwards;
}

/*@keyframes slider7 {
    0%{transform: translateY(0);}
    100%{transform: translateY(-700%);}
}

.slide7{
    animation: slider7 5.25s steps(7) infinite backwards;
}*/

@keyframes slider_loop {
    0%{transform: translateX(100%);}
    100%{transform: translateX(calc(-100%));}
}

.hover1:hover{
    background-color: #0f0118;
    border: white 2px solid;
    color: white;
}

.hover2:hover{
    background-color: #010e04;
    color: white;
    border: white 2px solid;
}

.hover3:hover{
    background-color: #060505;
    color: white;
    border: white 2px solid;
}

#move{
    display: flex;
    justify-content: center;
    width: fit-content;
    gap: 104px;
}

#teams2, #teams3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    overflow-x: hidden;
    gap: 104px;
    white-space: nowrap;
}

#teams2{
    animation: slider_loop 20s linear forwards infinite;
}

#teams3{
    animation: slider_loop 20s linear forwards infinite;
}

#teams2 img, #teams3 img, #team3 img{
    height: 48px;
}


footer{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100vw;
    height: fit-content;
    padding: calc(10vh - 6.4px) 10%;
    gap: 80px;
    position: relative;
    color: #222222;
    background-color: #FEFEFE;
    z-index: 7;
}



.title1, .title2, .title3, .title4{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: fit-content;
}

.title1{
    align-items: center;
    text-align: center;
    width: 65vw;
    max-width: 1200px;
}

.title1 p{
    width: 40vw;
    max-width: 800px;
}

.title2{
    align-items: flex-start;
    text-align: left;
    width: 55vw;
    max-width: 800px;
}

.title2 a{
    height: fit-content;
}

.title2 a p{
    text-decoration: underline;
    line-height: 20px;
}

.title3{
    align-items: center;
    text-align: center;
    width: 50vw;
    max-width: 1200px;
}

.title3 p{
    align-items: center;
    text-align: center;
    width: 45vw;
    max-width: 900px;
}

.title4{
    align-items: flex-start;
    text-align: left;
    width: 30vw;
    max-width: 600px;
    gap: 16px;
}

.tag_container{
   display: flex;
   flex-wrap: wrap;
   width: fit-content;
   height: fit-content;
   gap: 8px;
}

.tags{
    width: fit-content;
    height: fit-content;
    padding: 2px 8px;
    background: #f7f7f7;
    text-align: left;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500px;
    line-height: 18px;
}




.banner1{
    width: 45vw;
    max-width: 600px;
    height: 30vh;
    background-color: #f7f7f7;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    mix-blend-mode: multiply;
}

.banner2{
    width: 40vw;
    max-width: 540px;
    height: 20%;
    background-color: #f7f7f7;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    mix-blend-mode: exclusion;
}

.banner3{
    width: 50vw;
    max-width: 900px;
    height: 60vh;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    mix-blend-mode: multiply;
}


.grey{
    color: grey;
}

h1, h2, h3, h4, h5{
    font-family: 'Space Grotesk', Arial, sans-serif;
}

a, p{
    font-family: 'Urbanist', Arial, sans-serif;
    text-decoration: none;
    color: #222222;
}

h1{
    font-size: 64px;
    font-weight: 800;
    line-height: 100px;
    padding-bottom: 24px;
}

h2{
    font-size: 48px;
    font-weight: 800;
    line-height: 75px;
}

#footer_heading{
    font-size: 48px;
    font-weight: 800;
    line-height: 75px;
    text-align: left;
}

h3{
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    padding: 8px 0 16px 0;
}

h4{
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
}

h5{
    text-align: left;
    font-size: 16px;
    font-weight: 600px;
    line-height: 48px;
    color: #222222;
}

a, p{
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
}


/*Case Study Template Starts*/

.case_hero{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-bottom: 80px;
    width: 100vw;
    height: fit-content;
}

.hero_image_clothesxo, .hero_image_immers, .hero_image_kipati{
    max-height: calc(100vh - 264px);
    min-height: calc(100vh - 264px);
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero_image_immers{
    background-image: url(./Images/immers/immers_case_mock.png);
}

.hero_image_clothesxo{
    background-image: url(./Images/clothesxo/mock.png);
}

.hero_image_kipati{
    background-image: url(./Images/kipati/kipati_case_mock.png);
}

.hero_title{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    min-width: 630px;
    padding: 12px 0 32px 0;
}

.hero_title p{
    max-width:680px;
}

.hold{
    height: 300px;
    width: 100vw;
    background-color: pink;
}

.cards{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: fit-content;
    width: 100vw;
    padding: 0 10vw;
}

.cards1, .cards2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100vw;
    padding: 0 10vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.cards1{
    background-image: url(Images/clothesxo/solutions.png);
}

.cards2{
    background-image: url(Images/kipati/solution.png);
}

.cards section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    height: 160px;
    width: 216px;
    padding: 16px;
    gap: 12px;
    background-color: #f7f7f7;
}


.case_section1, .case_section2, .case_section3{
    display: flex;
    align-items: center;
    width: 100vw;
    position: relative;
    gap: 80px;
}

.case_section5{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 80px 10vw;
    height: calc(100vh - 64px);
    width: 100vw;
    position: relative;
}

.case_section7{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 80px 10vw;
    height: fit-content;
    width: 100vw;
    position: relative;
    gap: 80px;
}

.bio_sections{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 100%;
    width: 100%;
    gap: 32px;
}

.case_section5 .hero_title{
    padding: 0 0 32px 0;
}

.case_section4{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    padding: 80px 10vw;
    height: 60vh;
    width: 100vw;
    gap: 80px;
}

.case_section3, .case_section4{
    color: #FFFFFF;
}

.case_section1, .case_section3{
    height: fit-content;
    justify-content: start;
}

.case_section2{
    height: fit-content;
    background-color: #003e2a;
    color: #FFFFFF;
    justify-content: stretch;
    padding: 80px 10vw;
}

.case_section6{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    padding: 80px 10vw;
    align-items: center;
    justify-content: stretch;
    gap: 32px;
    position: relative;
}

.case_section6 .hero_title{
    text-align: center;
    max-width: 500px;
    padding: 0;
}

.case_titles{
    padding-top: 80px;
    width: fit-content;
    max-width: 180px;
    height: fit-content;
    position: absolute;
    left: 10vw;
    top: 0;
    text-align: left;
}

.case_section5 .case_titles{
    padding-top: 88px;
}


.case_titles p{
    font-family: 'Urbanist', Arial, sans-serif;
    text-decoration: none;
    color: #222222;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
}

.case_section6 .case_titles{
    padding-top: 88px;
    padding-left: 0;
}

.text1, .text2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    text-align: left;
    padding-left: 10vw;
}

.text4{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    text-align: left;
    padding-right: 10vw;
    width: fit-content;
    max-width: 600px;
}

.text5{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    width: 70vw;
    max-width: 720px;
    height: 100%;
    text-align: left;
}


.text1 h3, .text2 h3, .text3 h3, .text4 h3{
    font-size: 32px;
    font-weight: 40px;
}

.text1{
    max-width: 600px;
}

.limit_width{
    max-width: 480px;
}



.text2{
    width: 500px;
    max-width: none;
}

.text3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    padding-left: 10vw;
}

.text3 h3{
    padding-top: 0;
}

.case_section2 .text2, .case_section4 .text3{
    padding: 0;
}


.image1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.image img{
    width: auto;
    height: calc(100vh - 160px);
    border-radius: 32px;
}

.image2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.image3{
    display: flex;
    width: 100%;
    height: 70vh;
    justify-content: stretch;
    align-items: center;
    gap: 48px;
    padding: 0;
}

.image4{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: stretch;
    align-items: center;
    gap: 48px;
    padding: 0;
}

.grid4{
    display: grid;
    gap: 48px;
    width: 100%;
    height: 60vh;
}


#clothesxomock, #immersmock, #kipatimock{
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#immersmock{
    background-image: url(Images/immers/small_mock.png);
}

#clothesxomock{
    background-image: url(Images/clothesxo/mock.png);
}

#kipatimock{
    background-image: url(Images/kipati/kipati_case_mock.png);
}

.poppins{
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 32px;
    line-height: 32px;
}

.poppins2{
    font-family: 'Poppins';
    font-weight: 100;
    font-size: 14px;
    line-height: 18px;
}

.noto{
    font-family: 'Noto Sans';
    font-weight: 800;
    font-size: 64px;
    line-height: 64px;
}

.noto2{
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.cabin{
    font-family: 'Cabin';
    font-weight: 800;
    font-size: 32px;
    line-height: 32px;
}

.cabin2{
    font-family: 'Cabin';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}


#typography{
    display: flex;
    flex-direction: column;
    padding: 24px;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    height: auto;
    width: 100%;
    gap: 24px;
    grid-area: 1 / 2 / 3 / 4;
}

#clothesxocolor{
    background: linear-gradient(
        to bottom,
        #222222 0%,
        #222222 16.7%,
        #7209B7 16.7%,
        #7209B7 33.4%,
        #BFDBF7 33.4%,
        #BFDBF7 50.1%,
        #DBC3EA 50.1%,
        #DBC3EA 66.8%,
        #FEECE8 66.8%,
        #FEECE8 83.5%,
        #FFFFFF 83.5%,
        #FFFFFF 100%
    );
    border: #500084 solid 2px;
    grid-area: 1 / 1 / 3 / 2;
    width: 100%;
    height: 100%;
}

#immerscolor{
    background: linear-gradient(
        to bottom,
        #222222 0%,
        #222222 20%,
        #006E18 20%,
        #006E18 40%,
        #787878 40%,
        #787878 60%,
        #F2FEFF 60%,
        #F2FEFF 80%,
        white 80%,
        white 100%
    );
    border: #084f17 solid 2px;
    grid-area: 1 / 1 / 3 / 2;
    width: 100%;
    height: 100%;
}

#kipaticolor{
    background: linear-gradient(
        to bottom,
        #080408 0%,
        #080408 16.7%,
        #231123 16.7%,
        #231123 33.3%,
        #00d7FF 33.3%,
        #00d7ff 50%,
        #F1F2F2 50%,
        #F1F2F2 66.7%,
        #F4F3F4 66.7%,
        #F4F3F4 83.3%,
        white 83.3%,
        white 100%
    );
    border: white solid 2px;
    grid-area: 1 / 1 / 3 / 2;
    width: 100%;
    height: 100%;
}

#clothesxoicon{
    background-image: url(Images/clothesxo/icons.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding: 24px;
    grid-area: 3 / 1 / 4 / 4;
}

#immersicon{
    background-image: url(Images/immers/icons_immers.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding: 24px;
    grid-area: 3 / 1 / 4 / 4;
}

#kipatiicon{
    background-image: url(Images/kipati/icon.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding: 24px;
    grid-area: 3 / 1 / 4 / 4;
}

.sticky{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.sticky2{
    position: sticky;
    position: -webkit-sticky;
    top: 64px;
}

.overflow{
    overflow-y: scroll;
}

.snap_type{
    scroll-snap-type: y mandatory;
}

.snap_align{
    scroll-snap-align: start;
}

.radius{
    border-radius: 16px;
}

.prototype, .prototype2{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    padding: 0;
    gap: 0;
    scroll-snap-type: y mandatory;
}

.prototype section, .prototype section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 64px);
    scroll-snap-align: start;
    padding: 96px 0;
    margin: 0;
}

.prototype section img{
    width: auto;
    height: calc(100vh - 160px);
    scroll-snap-align: start;
    object-position: center;
}

.prototype2 section img{
    width: 100%;
    height: auto;
    scroll-snap-align: start;
    object-position: center;
    border: rgb(130, 130, 130) 16px solid;
    border-radius: 8px;
    margin-top: 64px;
    margin-bottom: 64px;
}

.right_space{
    padding-right: 10vw;
}

.left_space{
    padding-left: 10vw;
}


.prototype img{
    width: auto;
    height: calc(100vh - 160px);
    scroll-snap-align: start;
}

.prototype::-webkit-scrollbar, .prototype2::-webkit-scrollbar{
    display: none;
}

.image1 img{
    width: auto;
    height: calc(100vh - 160px);
}

#journey1{
    background-image: url(Image/holdjourney.png);
}

#journey2{
    background-image: url(Image/holdjourney.png);
}

#journey3{
    background-image: url(Image/holdjourney.png);
}

#flow{
    background-image: url(Images/user_flow_clothesxo_desktop.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

#flow_immers{
    background-image: url(Images/immers/immers_flow_desktop.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.grid1{
    display: grid;
    justify-content: stretch;
    padding: 80px 10vw 80px 0;
    width: 100%;
    height: 100%;
    gap: 32px;
}

.grid1 section{
    background-color: #f7f7f7;
    position: relative;
}



.bottom_label{
    position: absolute;
    bottom: 0;
    right: 24px;
    padding: 8px;
}

.grid2{
    display: grid;
    justify-content: stretch;
    width: 100%;
    height: 100%;
    gap: 32px;
}

.grid2 section{
    background-color: #f7f7f7;
    padding: 8px 24px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    text-align: left;
    gap: 8px;
    width: 100%;
}

.grid2 section section{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    padding: 0;
    gap: 16px;
}

.grid2 img{
    height: 48px;
    width: auto;
}

.grid2 p{
    width: auto;
}

.grid2 .tags{
    background-color: #500084;
    color: #FFFFFF;
    width: fit-content;
    padding: 8px;
}

.grid1_item1{
    grid-area: 1 / 1 / 2 / 4;
}

.grid1_item2{
    grid-area: 1 / 4 / 2 / 6;
}

.grid1_item3{
    grid-area: 2 / 1 / 3 / 3;
}

.grid1_item4{
    grid-area: 2 / 3 / 3 / 6;
}

.grid2_item1{
    grid-area: 1 / 1 / 3 / 4;
}

.grid2_item2{
    grid-area: 1 / 4 / 3 / 7;
}

.grid2_item3{
    grid-area: 3 / 1 / 5 / 3;
}

.grid2_item4{
    grid-area: 3 / 3 / 5 / 5;
}

.grid2_item5{
    grid-area: 3 / 5 / 5 / 7;
}

.case_section3 .case_titles p, .case_section3 .text1 p{
    background-color: none;
    color: #FFFFFF;
}

.clothes_xo{
    background-color: #0f0118;
    color:#FFFFFF
}

.kipati{
    background-color: #060505;
    color: white;
}

.grid2 section .full_width{
    width: 100%;
    height: auto;
}

.info_clothesxo{
    background-image: url(Images/clothesxo/articles.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: calc(100vh - 64px);
}

.info_immers{
    background-image: url(Images/immers/article_immers.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: calc(100vh - 64px);
}

.info_kipati{
    background-image: url(Images/kipati/article_kipati.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: calc(100vh - 64px);
}


.highlight{
    font-size: x-small;
    line-height: 24px;
    position: absolute;
    bottom: 32px;
    right: 32px;
    width: 300px;

    padding: 24px;
}

.immers{
    background-color: #010e04;
    color: white;
}

.immers_mvp{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(Images/immers/immersmvp.png);
}

.whitebackground{
    background-color: white;
}

.white_text{
    color: #FFFFFF;
}

.case_section1 .case_titles .white_text, .case_section6 .case_titles .white_text{
    color: #FFFFFF;
}

.case_section1 .case_titles{
    max-width: 320px;
}

.padding{
    padding-right: 10vw;
}

.padding2{
    padding-top: 80px;
    padding-bottom: 80px;
}


.case_section5 .paragraph_spaced{
    padding-top: 80px;
    padding-bottom: 0x;
}

.paragraph_limit{
    width: 90%;
}
.fit{
    height: fit-content;
}

.fit_screen{
    height: calc(100vh - 64px);
}

.align{
    align-items: start;
}

.justify{
    justify-content: center;
}

#fit1{
    height: fit-content;
}

#fit2{
    height: fit-content;
}

#fit2{
    height: fit-content;
}

#show1{
    color: white;
}

#show2{
    color: #222222;
}

#show3{
    color: white;
}

#think, #think_clothesxo, #say, #say_clothesxo, #feel, #feel_clothesxo, #do, #do_clothesxo{
    background-position: center center;
    padding: 16px;
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
}

#think{
    background-image: url(Images/immers/think.png);
}

#think_clothesxo{
    background-image: url(Images/clothesxo/think.png);
}

#say{
    background-image: url(Images/immers/say.png);
}

#say_clothesxo{
    background-image: url(Images/clothesxo/say.png);
}

#feel{
    background-image: url(Images/immers/feel.png);
}

#feel_clothesxo{
    background-image: url(Images/clothesxo/feel.png);
}

#do{
    background-image: url(Images/immers/do.png);
}

#do_clothesxo{
    background-image: url(Images/clothesxo/do.png);
}

@keyframes loading {
    from{transform: translateY(-100vh); opacity: 1;}
    99%{transform: translateY(100vh); opacity: 1; z-index: 7}
    to{transform: translateY(100vh); opacity: 0; z-index: 0;}
}

.loader_immers{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    width: 100vw;
    height: 200vh;
    animation: loading 2.5s linear 1 forwards;
}

.loader_immers section:nth-of-type(1){
    width: 0;
    height: 0;
    border-bottom: 100vh solid #010e04;
    border-left: 100vw solid transparent;
}

.loader_immers section:nth-of-type(2){
    width: 100vw;
    height: 100vh;
    background-color: #010e04;
}

.loader_clothesxo{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    width: 100vw;
    height: 200vh;
    animation: loading 2.5s linear 1 forwards;
}

.loader_clothesxo section:nth-of-type(1){
    width: 0;
    height: 0;
    border-bottom: 100vh solid #0f0118;
    border-left: 100vw solid transparent;
}

.loader_clothesxo section:nth-of-type(2){
    width: 100vw;
    height: 100vh;
    background-color: #0f0118;
}

.loader_kipati{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    width: 100vw;
    height: 200vh;
    animation: loading 2.5s linear 1 forwards;
}

.loader_kipati section:nth-of-type(1){
    width: 0;
    height: 0;
    border-bottom: 100vh solid #060505;
    border-left: 100vw solid transparent;
}

.loader_kipati section:nth-of-type(2){
    width: 100vw;
    height: 100vh;
    background-color: #060505;
}

 /* 
    

    */

/*Case Study Template End*/


@media screen and (max-width:1024px) {
    nav{
        padding: 0 5vw;
    }

    .hero{
        padding: 0 5%;
    }

    #works{
        padding: 48px 0 80px 0;
    }

    .section1{
        padding: 64px 5%;
    }

    footer{
        padding-left: 5%;
        padding-right: 5%;
    }

    .title1{
        width: 80%;
        max-width: 720px;
    }
    
    .title1 p{
        width: 90%;
        max-width: 600px;
    }

    .title2{
        width: 80%;
        max-width: 680px;
    }

    .title2 a{
        height: fit-content;
    }
    
    .title2 a p{
        text-decoration: underline;
        line-height: 16px;
    }

    .section2{
        padding-left: 5%;
    }

    .section2_background{
        background-color: #003e2a;
    }

    .section2 .banner1{
        height: 30vh;
    }
    
    .title3{
        width: 80vw;
        max-width: 840px;
        padding: 0;
    }
    
    .title3 p{
        width: 80vw;
        max-width: 600px;
        padding: 0;
    }
    
    .title4{
        width: 60vw;
        max-width: 704px;
        gap: 12px;
    }

    .section1, .section2{
        gap: 48px;
    }

    #case_titles{
        padding: 80px 0 0 5vw;
        max-width: 55vw;
    }


    /*Case Study Template Starts 1024*/

.hero_image_clothesxo, .hero_image_immers, .hero_image_kipati{
        min-height: calc(100vh - 284px);
}


.hero_title{
    max-width: 680px;
    min-width: 600px;
    padding: 12px 0 32px 0;
}

.case_section5 .hero_title{
    max-width: 60vw;
    min-width: 500px;
    padding: 8px 0 32px 0;
}

.hero_title p{
    max-width:560px;
}

.cards{
    padding: 0 5vw;
}

.cards1, .cards2{
    padding: 0 5vw;
}

.cards section{
    height: 160px;
    width: 200px;
    padding: 16px;
    gap: 12px;
}

.case_section1, .case_section2{
    display: flex;
    align-items: center;
    width: 100vw;
    position: relative;
    gap: 64px;
}

.case_section1, .case_section3{
    justify-content: start;
    height: calc(100vh - 64px);
}

.case_section2{
    height: fit-content;
    background-color: #003e2a;
    color: #FFFFFF;
    justify-content: stretch;
    padding: 80px 5vw;
}

.case_section5{
    padding: 80px 5vw;
}

.case_section4{
    padding: 80px 5vw;
    height: 60vh;
    gap: 64px;
}

.case_section6{
    padding: 80px 5vw;
    gap: 32px;
}

.case_titles{
    padding-top: 64px;
    left: 5vw;
}

.text1{
    padding-left: 5vw;
    max-width: 480px;
}

.text2{
    padding-left: 5vw;
}

.text3{
    display: flex;
    width: 300px;
    padding-left: 5vw;
}

.image1{
    padding-left: 5vw;
}


#journey1{
    background-image: url(Image/holdjourney.png);
}

#journey2{
    background-image: url(Image/holdjourney.png);
}

#journey3{
    background-image: url(Image/holdjourney.png);
}


.grid1{
    padding: 64px 5vw 64px 5vw;
    gap: 32px;
}

.grid2{
    padding: 0;
    gap: 16px;
}

.clothes_xo{
    background-color: #0f0118;
    color: #FFFFFF;
}

.immers{
    background-color: #010e04;
    color: white;
}

.kipati{
    background-color: #060505;
    color: white;
}

.padding{
    padding-right: 5vw;
}

.padding2{
    padding-top: 64px;
    padding-bottom: 64px;
}



.fit{
    height: fit-content;
}

#fit1{
    height: fit-content;
}

#fit2{
    height: fit-content;
}


 /* 
   

    */

/*Case Study Template End*/

}


@media screen and (max-width:900px) {
                
    nav{
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        height: fit-content;
        padding: 0 5vw;
    }

    #logo_holder{
        display: flex;
        justify-content: space-between;
        height: 72px;
        width: 100%;

    }

    #logo_holder a{
        font-size: 20px;
        font-weight: 500;
    }

    #logo_holder button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border: none;
        outline: none;
        background-image: url('Image/hamburger.png');
    }

    #logo_holder #cancel_icon_state{
        background-image: url('Image/close.png');
    }

    #menu_container{
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: 60vh;
        gap: 64px;
        padding: 10% 0;
    }

    #menu_container_close{
        display: none;
    }

    .nav_items{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: fit-content;
        gap: 32px;
        padding: 0%;
    }

    .social_links{
        justify-content: flex-start;
        align-items: start;
        position: static;
        height: fit-content;
        gap: 32px;
        padding: 0;
    }




    .social_links p{
        display: flex; 
    }

    .social_links a{
        display: flex;
        gap: 32px;
    }

    .hero, .section1, .section2, .section3{
        scroll-snap-align: start;
    }
    
    .hero{
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 0;
        height: fit-content;
        overflow-x: hidden;
        position: static;
    }
    
    .hero_container{
        align-items: start;
        width: 100%;
        height: fit-content;
        padding: 104px 64px 64px 5vw;
    }

    .hero #hero_mock{
        display: flex;
        flex-direction: row;
        justify-content: start;
        height: 60vh;
        width: 100%;
        gap: 0;
        padding: 0;
        z-index: 2;
    }

    .hero #hero_mock1{
        display: none;
    }


    
    #image_mock, #image_mock1{
        display: none;
        flex-direction: column;
        justify-content: start;
        height: 70vh;
        width: 90vw;
        padding: 0;
        overflow-y: hidden;
    }

    #image_mock section, #image_mock1 section{
        width: 90vw;
        height: 70vh;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .case_section7{
        padding: 64px 5vw;
    }

    .case_section7 .case_titles{
        position: static;
        left: 0;
        padding: 0;
    }

    .text5{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 16px;
        width: 100%;
        max-width: 100%;
        height: 100%;
        text-align: left;
    }


    .hero #hero_mock section{
        width: 100vw;
        height: 60vh;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .hero #hero_mock1 section{
        width: 100vw;
        height: 60vh;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero #hero_mock section:nth-of-type(1){
        background-image: url(Images/kipati/kipati_case_mock_moibile.png);
    }
    
    .hero #hero_mock section:nth-of-type(2){
        background-image: url(Images/clothesxo/mockmobile.png);
    }
    
    .hero #hero_mock section:nth-of-type(3){
        background-image: url(Images/immers/immers_case_mock_moibile.png);
    }

    .hero #hero_mock1 section:nth-of-type(1){
        background-image: url(Images/556A7070.jpg);
    }
    
    .hero #hero_mock1 section:nth-of-type(2){
        background-image: url(Images/556A7079.jpg);
    }
    
    .hero #hero_mock1 section:nth-of-type(3){
        background-image: url(Images/556A7084.jpg);
    }

    #image_mock section:nth-of-type(1), #image_mock1 section:nth-of-type(1){
        background-image: url(Images/556A7070.jpg);
    }
    
    #image_mock section:nth-of-type(2), #image_mock1 section:nth-of-type(2){
        background-image: url(Images/556A7079.jpg);
    }
    
    #image_mock section:nth-of-type(3), #image_mock1section:nth-of-type(3){
        background-image: url(Images/556A7084.jpg);
    }

   @keyframes slider4 {
        0%{transform: translateX(0);}
        100%{transform: translateX(300vw);}
    }
    
    .slide3{
        animation: slider4 9s steps(3) backwards infinite;
    }

    @keyframes slider5 {
        0%{transform: translateY(0);}
        100%{transform: translateY(210vh);}
    }
    
    .slide5{
        animation: slider4 9s steps(3) backwards infinite;
    }

    #works{
        padding: 40px 0 72px 0;
    }

    .section1{
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: start;
        width: 100vw;
        height: calc(100vh - 64px);
        padding: 80px 5%;
        gap: 32px;
    }
    
    .section1_background{
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: flex-end;
        height: 100%;
        width: 90vw;
        background: linear-gradient(
            to top,
            #003e2a 0%,
            #003e2a 75%,
            #FFFFFF00 75%,
            #FFFFFF00 100%
        );
        padding: 0 5%;
    }

    .section1_background img{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: auto;
        width: 100%;
    }

    .section1_background1{
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        height: 100%;
        width: 90vw;
        background-color: #003e2a;
        padding: 0 5%;
    }

    .section1_background1 img{
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
    }

    .section2{
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: left;
        gap: 48px;
        position: relative;
        padding-top: calc(10vh - 6.4px);
    }

    .section2 .title2{
        width: 100%;
    }
    
    .section2_background{
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .section3{
        align-items: start;
        padding: calc(10vh - 6.4px) 5%;
        position: relative;
    }

    #teams{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: fit-content;
        width: fit-content;
        gap: 20vw;
    }
    
    #teams img{
        height: 48px;
    }

    #move{
        gap: 72px;
    }
    
    #teams2, #teams3{
        display: flex;
        justify-content: ce;
        align-items: center;
        width: fit-content;
        height: fit-content;
        gap: 72px;
    }
    
    #teams2 img, #teams3 img{
        height: 40px;
    }

    footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        width: 100vw;
        height: fit-content;
        padding: calc(10vh - 6.4px) 5%;
        gap: 48px;
        position: relative;
        color: #222222;
    }
    
    .title1{
        align-items: start;
        text-align: left;
        width: 95%;
        max-width: 680px;
    }
    
    .title1 p{
        width: 80%;
        max-width: 600px;
    }

    .title2{
        align-items: start;
        text-align: left;
        width: 95%;
        max-width: 680px;
        height: fit-content;
    }
    
    .title3{
        align-items: start;
        text-align: left;
        width: 90vw;
        max-width: 680px;
    }
    
    .title3 p{
        align-items: start;
        text-align: left;
        width: 80vw;
        max-width: 600px;
        padding: 0;
    }
    
    .title4{
        align-items: flex-start;
        text-align: left;
        width: 60vw;
        max-width: 420px;
        gap: 12px;
    }
    

    .banner3{
        width: 80vw;
        max-width: 600px;
    }

    .banner1{
        width: 300px;
        height: 300px;
    }

    .banner2{
        width: 40vw;
        max-width: 320px;
        height: 160px;
        background-color: #f7f7f7;
    }

    #case_titles{
        align-self: flex-start;
        align-items: start;
        text-align: left;
        padding: 56px 0 0 5vw;
        max-width: 60vw;
    }

    .tags{
        width: fit-content;
        height: fit-content;
        padding: 2px 8px;
        background: #f7f7f7;
        text-align: left;
        border-radius: 8px;
        font-size: 12px;
        font-weight: 40px;
        line-height: 20px;
    }

    

    h1{
        font-size: 48px;
        font-weight: 700;
        line-height: 72px;
        padding-bottom: 24px;
    }

    h2{
        font-size: 44px;
        font-weight: 700;
        line-height: 64px;
    }

    #footer_heading{
        font-size: 44px;
        font-weight: 700;
        line-height: 64px;
        text-align: left;
    }
    
    h3{
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
        padding: 8px 0 16px 0;
    }
    
    h4{
        font-size: 16px;
        font-weight: 800;
        line-height: 28px;
    }

    h5{
        text-align: left;
        font-size: 16px;
        font-weight: 560px;
        line-height: 32px;
    }

    a, p{
        font-size: 16px;
        font-weight: 500;
        line-height: 32px;
    }

    /*Case Study Template Starts 900px*/

.hero_image_clothesxo{
    max-height: calc(100vh - 264px);
    min-height: calc(100vh - 264px);
    width: 100vw;
    background-image: url(./Images/clothesxo/mockmobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero_image_immers{
    max-height: calc(100vh - 264px);
    min-height: calc(100vh - 264px);
    width: 100vw;
    background-image: url(./Images/immers/immers_case_mock_moibile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero_title{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: start;
    justify-content: center;
    padding: 12px 5vw 48px 5vw;
    width: 100vw;
    max-width: 90vw;
    min-width: fit-content;
}

.hero_title p{
    width: 90vw;
    max-width: 90vh;
}

.case_section5 .hero_title{
    width: 500px;
    padding: 12px 0 48px 0;
    max-width: none;
    min-width: none;
}


.hold{
    height: 300px;
    width: 100vw;
    background-color: pink;
}

.cards{
    display: grid;
    justify-content: stretch;
    height: fit-content;
    width: 100%;
    gap: 24px;
    padding: 0 5vw;
}

.cards1, .cards2{
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 60vh;
    padding: 0;
}

.cards1{
    background-image: url(Images/clothesxo/solutionsmobile.png);
}

.cards2{
    background-image: url(Images/kipati/solutionmobile.png);
}

.cards section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    text-align: left;
    padding: 16px;
    gap: 16px;
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    margin: 0;
}

.card1{
    grid-area: 1 / 1 / 2 / 4;
}

.card2{
    grid-area: 1 / 4 / 2 / 6;
}

.card3{
    grid-area: 2 / 1 / 3 / 3;
}

.card4{
    grid-area: 2 / 3 / 3 / 6;
}

.case_section1, .case_section3{
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 32px;
}

.case_section1{
    height: fit-content;
    min-height: none;
}

#think, #think_clothesxo, #say, #say_clothesxo, #feel, #feel_clothesxo, #do, #do_clothesxo{
    height: 240px;
}


.fit{
    height: fit-content;
}

.fit_screen{
    height: fit-content;
}

.align{
    align-items: start;
}

#fit1{
    height: fit-content;
}

#fit2{
    height: fit-content;
}

.sticky2{
    position: static;
}

.case_section2{
    flex-direction: column;
    height: fit-content;
    background-color: #003e2a;
    color: #FFFFFF;
    justify-content: stretch;
    align-items: flex-start;
    padding: 80px 5vw;
    gap: 32px;
}



.case_section4{
    flex-direction: column;
    padding: 80px 5vw;
    height: 60vh;
    gap: 32px;
}

.case_section4 .text3{
    padding: 0 0 24px 0;
}

.case_section5{
    padding: 80px 5vw;
    height: calc(100vh - 64px);

    width: 100vw;
    align-items: flex-start;
    text-align: left;
}

.image3{
    width: 100%;
    height: 90vh;
    gap: 32px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
}

.image4{
    width: 100%;
    height: 100%;
    gap: 32px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
}

.grid4{
    display: grid;
    gap: 56px;
    width: 100%;
    height: 100%;
}

#journey1{
    background-image: url(Image/holdjourneymobile.png);
}

#journey2{
    background-image: url(Image/holdjourneymobile.png);
}

#journey3{
    background-image: url(Image/holdjourneymobile.png);
}


#flow{
    background-image: url(Images/user_flow_clothesxo_mobile.png);
}

#flow_immers{
    background-image: url(Images/immers/immers_flow_mobile.png);
}

.immers_mvp{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(Images/immers/immersmvp_mobile.png);
    height: calc(100vh - 64px);
}

.case_titles{
    position: static;
    padding: 0 5vw 16px 5vw;
    align-self: flex-start;
    text-align: left;
    width: 100vw;
    max-width: none;
}

.case_section5 .case_titles{
    padding: 0 0 16px 0;
}

.case_section6{
    align-items: flex-start;
}

.case_section6 .hero_title{
    text-align: left;
    max-width: 90vw;
}

.case_section6 .case_titles{
    padding: 0 0 16px 0;
}

.case_titles p{
    font-family: 'Urbanist', Arial, sans-serif;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}


.text1{
    padding: 0 5vw;
    width: 100vw;
    max-width: 640px;
}

.text1 h3, .text2 h3{
    font-size: 32px;
    font-weight: 48px;
}

.text2{
    padding: 0 5vw;
    width: 400px;
    max-width: none;
}

.text3{
    display: flex;
    width: 90vw;
    padding: 0 5vw;
}


.grid1{
    padding: 0px 5vw 80px 5vw;
    gap: 24px;
}

.grid2{
    padding: 0;
}

.grid2 section{
    padding: 24px;
}

#hi_fi_kipati{
    padding: 0 5vw;
}

.prototype2 section img{
    width: 100%;
    height: auto;
    scroll-snap-align: start;
    object-position: center;
    border: rgb(130, 130, 130) 16px solid;
    border-radius: 8px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.right_space{
    padding-right: 5vw;
}

.left_space{
    padding-left: 10vw;
}

.clothes_xo{
    background-color: #0f0118;
    color: #FFFFFF;
}

.immers{
    background-color: #010e04;
    color: white;
}

.kipati{
    background-color: #060505;
    color: white;
}

.hero_image_immers{
    background-image: url(./Images/immers/immers_case_mock_moibile.png);
}

.hero_image_clothesxo{
    background-image: url(./Images/clothesxo/mockmobile.png);
}

.hero_image_kipati{
    background-image: url(./Images/kipati/kipati_case_mock_moibile.png);
}

.padding{
    padding-right: 5vw;
}

.padding3{
    padding-left: 5vw;
}

.padding4{
    padding-top: 80px;
}

.info_clothesxo, .info_immers{
    height: 70vh;
}

.highlight{
    font-size: large;
    line-height: 36px;
    position: absolute;
    bottom: 32px;
    right: 32px;
    width: 90vw;
    padding: 24px;
}

.whitebackground{
    background-color: white;
}

.padding4{
    padding-top: 64px;
}



 /* 

    */

/*Case Study Template End* 900px*/

}

@media screen and (max-width: 500px) {

.case_section4{
        min-height: 900px;
    }
    
    .case_section5{
        min-height: 1200px;
        padding: 64px 5vw;
        width: 100vw;
    }
    
    .case_section5 .hero_title{
        padding: 12px 5vw 48px 0;
        width: auto;
        max-width: auto;
        min-width: none;
    }


    .case_section6 .hero_title{
        padding: 0;
    }

    
    
    .grid1_item1{
        grid-area: 1 / 1 / 2 / 2;
    }
    
    .grid1_item2{
        grid-area: 2 / 1 / 3 / 2;
    }
    
    .grid1_item3{
        grid-area: 3 / 1 / 4 / 2;
    }
    
    .grid1_item4{
        grid-area: 4 / 1 / 5 / 2;
    }
    
    .grid2_item1{
        grid-area: 1 / 1 / 2 / 2;
    }
    
    .grid2_item2{
        grid-area: 2 / 1 / 3 / 2;
    }
    
    .grid2_item3{
        grid-area: 3 / 1 / 4 / 2;
    }
    
    .grid2_item4{
        grid-area: 4 / 1 / 5 / 2;
    }
    
    .grid2_item5{
        grid-area: 5 / 1 / 6 / 2;
    }

    .fit{
        height: fit-content;
    }
    
    #fit1{
        height: fit-content;
    }

    #fit2{
        height: fit-content;
    }

    .grid4{
        gap: 48px;
    }

    #clothesxocolor{
        width: 32px;
    }

    #immerscolor{
        width: 32px;
    }

    #kipaticolor{
        width: 32px;
    }

    .whitebackground{
        background-color: white;
    }

    .hero_title .limit_width2{
        max-width: 70%;
    }

    .padding4{
        padding-top: 64px;
    }

}

@media screen and (max-width: 430px) {
    
    #menu_container{
        height: calc(100vh - 64px);
    }
    
    .hero, .section2, .section3{
        scroll-snap-align: start;
    }

    .hero{
        display: flex;
        flex-direction: column;
        max-height: 800px;
    }
    
    
    .hero_container{
        align-items: start;
        width: 90vw;
        height: 60%;
    }

    #works{
        padding: 0 0 64px 0;
    }

    .section1{
        gap: 24px;
        padding: 64px 5%;
    }

    .padding5{
        padding-top: 0;
    }

    .section2{
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: left;
        gap: 48px;
        position: relative;
        padding: calc(10vh - 6.4px) 0 0 0;
    }

    .section2 .title2{
        width: 100%;
        max-width: 680px;
        padding: 0 5%;
    }

    #teams{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: fit-content;
    }
    
    #teams img{
        height: 32px;
    }

    #move{
        gap: 56px;
    }
    
    #teams2, #teams3{
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        gap: 56px;
    }
    
    #teams2 img, #teams3 img{
        height: 20px;
    }
    

    footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        width: 100vw;
        height: fit-content;
        padding: calc(10vh - 6.4px) 5%;
        gap: 24px;
        position: relative;
        color: #222222;
    }
    
    .title1{
        align-items: start;
        text-align: left;
        width: 95%;
        max-width: 680px;
    }
    
    .title1 p{
        width: 80%;
        max-width: 600px;
    }

    .title2{
        align-items: start;
        text-align: left;
        width: 95%;
        max-width: 680px;
    }
    
    .title3{
        align-items: start;
        text-align: left;
        width: 90vw;
        max-width: 680px;
        height: fit-content;
    }
    
    .title3 p{
        align-items: start;
        text-align: left;
        width: 80vw;
        max-width: 600px;
        padding: 0;
    }

    .banner3{
        width: 80vw;
        max-width: 600px;
    }

    .banner1{
        width: 160px;
        height: 160px;
    }

    .banner2{
        width: 40vw;
        max-width: 240px;
        height: 104px;
        background-color: #f7f7f7;
    }

    #case_titles{
        padding: 56px 0 32px 5vw;
        max-width: 80vw;
    }

    h1{
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        padding-bottom: 16px;
    }

    h2{
        font-size: 28px;
        font-weight: 700;
        line-height: 32px;
    }

    #footer_heading{
        font-size: 28px;
        font-weight: 700;
        line-height: 32px;
        text-align: left;
    }
    
    h3{
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        padding: 8px 0 16px 0;
    }


    a, p{
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
    }

    /*Case Study Template Starts *430px*/

    .case_section1, .case_section3{
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        gap: 24px;
    }



    .case_section2{
        gap: 24px;
    }

    .case_section4{
        padding: 64px 5vw;
        height: 65vh;
        width: 100vw;
        gap: 24px;
    }


    .case_titles{
        position: static;
        padding: 0 0 16px 5vw;
    }
    
    .case_titles p{
        font-size: 14px;
        line-height: 16px;
        font-weight: 600;
    }
    
    .text1{
        padding: 0 5vw;
        width: 100vw;
        max-width: none;
    }

    .text1 h3{
        font-size: 24px;
        font-weight: 40px;
    }

    .text2{
        width: 100vw;
        max-width: none;
    }

    .text2 h3{
        font-size: 24px;
        font-weight: 40px;
    }
    
    .clothes_xo{
        background-color: #0f0118;
        color: #FFFFFF;
    }

    .immers{
        background-color: #010e04;
        color: white;
    }

    .kipati{
        background-color: #060505;
        color: white;
    }

    .white_text{
        color: #FFFFFF;
    }

    .paragraph_limit{
        width: 90vw;
    }

    .paragraph_limit h2{
        font-size: 40px;
        line-height: 60px;
        font-weight: 700px;
    }

    
    .fit{
        height: fit-content;
    }
    
    #fit1{
        height: fit-content;
    }

    #fit2{
        height: fit-content;
    }

    .whitebackground{
        background-color: white;
    }

    .padding4{
        padding-top: 64px;
    }

    /*Case Study Template Ends *430px*/
}

@keyframes anima1 {
    0%{transform: translateY(30%); opacity: 0;}
    100%{transform: translateY(0); opacity: 1;}
}

.enter_and_leave{
    animation: anima1 2s ease-in 0s 1;
}


@keyframes anima2 {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.fade{
    animation: anima2 2s ease-in 0s 1;
}

.fade_slower{
    animation: anima2 1s ease-in 0s 1;
}